[2020-05-05 18:50] Proffet78 opened #1 "ТЗ_по наполняемости проекта"
[Техническое задание по курсовой работе.docx](https://github.com/Proffet78/KR_TRPO_Modern/files/4583044/default.docx)

ЛИЧНЫЙ КАБИНЕТ = АЛЕКСАНДР ВИНОГРАДОВ

[2020-05-05 18:54] Proffet78 opened #2 "Technical specification"
В данном репозитории реализован мой личный проект первого курса сайт Волонтёра ЧМ2018.
На 05.05.2020 у нас есть необходимость полностью преобразовать сайт.
**ЧТО БЫЛО?**
Сайт волонтера ЧМ2018, с начинкой + переход на личную страницу, которая недо реализована.

**ЧТО НЕОБХОДИМО?**
Преобразовать сам сайт, а именно:
     Переквалифицировать сайт с тематики "Волонтёр2018" на тематику "Волонтёр"
     П

[2020-05-05 18:58] Proffet78 opened #3 "Расписать цели и задачи 1 и 2 Sprint"
План проекта:

Проект подразумевает реализацию ТРЁХ спринтов (недельных).
Ниже расписаны планы, каждого недельного спринта.

SPRINT1 (План спринта - #4) - СРОКИ РЕАЛИЗАЦИИ (варьировочный - относительно до 13.06)
_Спринт на целен на создание репозитория, необходимой документации, оставление всех планов, разработка (модернизация) информации на основной странице сайта и ЛК_

SPRINT2 (План спринта - #

[2020-05-05 18:59] Proffet78 opened #4 "План SPRINT1"
План КР - #3
_СРОК РЕАЛИЗАЦИИ: варьировочный до 1 июня + возможно продление_

**План спринта:**

1) **Подготовка начального проекта и всей документации - МАШАРИН, ВИНОГРАДОВ - #5 - ЗАВЕРШЕНО**
2) МОДЕРНИЗАЦИЯ начальной страницы - МАШАРИН -  #6
3) **МОДЕРНИЗАЦИЯ ЛК ВОЛОНТЁРА - ВИНОГРАДОВ -  #7 - ЗАВЕРШЕНО**

[2020-05-05 19:10] Proffet78 opened #5 "Подготовка начального проекта и всей документации"
План SPRINT1 - #4
Необходимо загрузить проект, разработать план КР, всех спринтов и необходимой ин-ции.

[2020-05-05 19:12] Proffet78 commented on #5
Загружена ТЕХНИЧЕСКИЕ ЗАДАНИЯ:
1) самого курсового проекта
2) по реализации сайта

[2020-05-05 19:13] Proffet78 commented on #5
Создан ПЛАН КР - #3

[2020-05-05 19:14] Proffet78 commented on #5
Создан план SPRINT1 - #4
Распределены роли на первый спринт

[2020-05-05 19:16] Proffet78 opened #6 "МОДЕРНИЗАЦИЯ начальной страницы"
План SPRINT1 - #4

В соответствии с ТЗ сайта #1  -  полностью модернизировать основную страницу

[2020-05-05 19:18] Proffet78 opened #7 "МОДЕРНИЗАЦИЯ ЛК ВОЛОНТЁРА"
План SPRINT1 - #4

В соответствии с ТЗ сайта #1 - полностью модернизировать ЛК ВОЛОНТЁРА

**Блоки:**
1) Личная страница пользователя. Блок основной идентификационной информации - #9
2) Личная страница. Блок: волонтерская информация - #10
3) Личная страница. Блок: Часто задаваемые вопросы - #11
4) Личная страница. Блок: Основные ссылки и данные - #12

[2020-05-05 19:42] VinogradovAlexandr781227 commented on #5
Планы и документацию разработали совместно с Машариным Валерием, для выполнения данного пункта остается только загрузить начальную работу. @Proffet78 сделай это пожалуйста!

[2020-05-05 20:20] Proffet78 commented on #5
Проект загружен!

[2020-05-05 20:21] Proffet78 commented on #5
ЗАДАНИЕ ВЫПОЛНЕНО!

[2020-05-05 20:32] Proffet78 commented on #6
Приступил к выполнению задания!

[2020-05-06 14:50] VinogradovAlexandr781227 commented on #7
Начал выполнение

[2020-05-06 18:33] Proffet78 commented on #5
Необходимо более конкретно переформулировать ТЗ, документацию прикрепить в соответствующую задачу (#1 )

[2020-05-06 18:35] Proffet78 commented on #5
@VinogradovAlexandr781227 , Саш, эта задача будет лежать на тебе! Срок реализации - до 12:00 06.05.2020

[2020-05-07 09:09] VinogradovAlexandr781227 commented on #5
Из-за работы смогу отредактировать ближе к вечеру, можно отсрочить до 18?

[2020-05-08 10:38] Proffet78 commented on #5
@VinogradovAlexandr781227 , Саша, что с техническим заданием?

[2020-05-18 09:35] Proffet78 commented on #7
Как успехи?)

[2020-05-24 12:32] Proffet78 commented on #6
До разработал основную страницу

[2020-05-24 12:33] Proffet78 commented on #6
Завтра загружу

[2020-05-24 12:33] Proffet78 commented on #7
Саш, как успехи с ЛК?

[2020-05-25 15:20] Proffet78 commented on #4
Продлим сроки спринта до 10.06.2020 из-за технических неполадок, из-за того, что живем в общаге, не было возможности продуктивно работать, так как не работал интернет

[2020-05-27 19:56] VinogradovAlexandr781227 opened #9 "Личная страница пользователя. Блок основной идентификационной информации"
Основная задача - #7

Личная информация должна содержать:
1)ФИО
2)Дата рождения
3)Электронная почта
4)Домашний адрес
5)Номер телефона
6)Место учебы/работы
7)Наличие волонтерской книжки

[2020-05-27 19:59] VinogradovAlexandr781227 opened #10 "Личная страница. Блок: волонтерская информация"
Основная задача - #7

Блок должен содержать:
1)Посещенные мероприятия
2)Наличие волонтерской книжки
3)Запланированные мероприятия
4)Сотрудничество с руководством

[2020-05-27 20:05] VinogradovAlexandr781227 opened #11 "Личная страница. Блок: Часто задаваемые вопросы"
Основная задача - #7

Блок должен содержать:
Могу ли я стать волонтёром и как?
Почему в анкете волонтёра запрашивается личные данные?
Могу ли я заниматься волонтерской деятельностью если мне нет 18?
Каковы направления работы волонтёров? Чем именно занимаются волонтёры?
Волонтёрам платят?
Волонтерство не будет мешать учёбе?
Как получить волонтерскую книжку?
Что получают волонтеры?
Обязательно ли зн

[2020-05-27 20:08] VinogradovAlexandr781227 opened #12 "Личная страница. Блок: Основные ссылки и данные"
Основная задача - #7

Блок должен содержать:
Ссылка на страницу ВКонтакте
Ссылка на инстаграм
Ссылка на почтовый ящик организации
Ссылка на страницу в Фейсбук

[2020-06-06 14:25] Proffet78 commented on #6
Закончил, модернизацию начальной страницы, приступаю к спринту 2! Вечером смогу залить изменения! Задачу закрою, как закрою pull quests!

[2020-06-06 14:26] Proffet78 commented on #4
Параллельно начинаем реализацию 2 спринта

[2020-06-06 14:30] Proffet78 opened #13 "План SPRINT 2"
План КР - #3
СРОК РЕАЛИЗАЦИИ: варьировочный до 13 июня + возможно продление, но не дольше чем до 15.06

**План спринта:**
1) Мануальное тестирование основной страницы - ВИНОГРАДОВ -
2) _Мануальное тестирование ЛК - МАШАРИН - #17 - В ПРОЦЕССЕ_
3) Сборка проекта
4) Отчет по спринту
5) План на 3 спринт

[2020-06-09 20:55] Proffet78 opened #14 "Диаграмма UML"
Разработать UML диаграмму для проекта

[2020-06-10 21:13] VinogradovAlexandr781227 commented on #9
Задача готова к слиянию, но я вынужден его отложить в связи с техническими проблемами, а именно не стабильной работой интернета уже 2 дня.
Как только интернет соединение будет восстановлено задача будет успешно клонирована в репозиторий.

[2020-06-10 21:14] VinogradovAlexandr781227 commented on #10
Задача готова к слиянию, но я вынужден его отложить в связи с техническими проблемами, а именно не стабильной работой интернета уже 2 дня.
Как только интернет соединение будет восстановлено задача будет успешно клонирована в репозиторий.

[2020-06-10 21:14] VinogradovAlexandr781227 commented on #11
Задача готова к слиянию, но я вынужден его отложить в связи с техническими проблемами, а именно не стабильной работой интернета уже 2 дня.
Как только интернет соединение будет восстановлено задача будет успешно клонирована в репозиторий.

[2020-06-10 21:14] VinogradovAlexandr781227 commented on #12
Задача готова к слиянию, но я вынужден его отложить в связи с техническими проблемами, а именно не стабильной работой интернета уже 2 дня.
Как только интернет соединение будет восстановлено задача будет успешно клонирована в репозиторий.

[2020-06-10 21:16] VinogradovAlexandr781227 commented on #4
Описал проблему переноса дедлайна в задачах #9, #10, #11, #12

[2020-06-10 21:22] Proffet78 commented on #9
Изменения приняты! Обращаю внимание:
**Блок должен быть залит НЕ ПОЗДНЕЕ 12.06.20201 23:59**
После того как страница будет залита необходимо:
1) Указать подробно что добавлено в блоке
2) добавить комментарий обновления блока и переассанить задачу на меня
После проверки задача будет закрыта - блок будет выполнен!

Сейчас приступай к реализации 2 спринта, подробнее твои задачи описаны в плане 2 спри

[2020-06-10 21:22] Proffet78 commented on #10
Изменения приняты! Обращаю внимание:
**Блок должен быть залит НЕ ПОЗДНЕЕ 12.06.20201 23:59**
После того как страница будет залита необходимо:
1) Создать pull reqests
2) Указать подробно что добавлено в блоке
3) добавить комментарий обновления блока и переассанить задачу на меня
После проверки задача будет закрыта - блок будет выполнен!

Сейчас приступай к реализации 2 спринта, подробнее твои задач

[2020-06-10 21:22] Proffet78 commented on #11
Изменения приняты! Обращаю внимание:
**Блок должен быть залит НЕ ПОЗДНЕЕ 12.06.20201 23:59**
После того как страница будет залита необходимо:
1) Указать подробно что добавлено в блоке
2) добавить комментарий обновления блока и переассанить задачу на меня
После проверки задача будет закрыта - блок будет выполнен!

Сейчас приступай к реализации 2 спринта, подробнее твои задачи описаны в плане 2 спри

[2020-06-10 21:23] Proffet78 commented on #12
Изменения приняты! Обращаю внимание:
**Блок должен быть залит НЕ ПОЗДНЕЕ 12.06.20201 23:59**
После того как страница будет залита необходимо:
1) Создать pull reqests
2) Указать подробно что добавлено в блоке
3) добавить комментарий обновления блока и переассанить задачу на меня
После проверки задача будет закрыта - блок будет выполнен!

Сейчас приступай к реализации 2 спринта, подробнее твои задач

[2020-06-10 21:27] Proffet78 commented on #13
@VinogradovAlexandr781227 , Саш, тебе необходимо, во время реализации этого спринта поднять задачу Создание формы Регистрации/Авторизации ЛК

[2020-06-10 21:29] Proffet78 commented on #13
Соответственно реализовать эту форму, после успешного тестирования мной ЛК, поднимешь задачу, где свяжешь форму и саму страницу!

На данный момент это твоя задача на 2 спринт!
Как зальем ЛК и ОС - появится еще одна задача мануального тестирования

[2020-06-10 21:37] Proffet78 commented on #7
ЗАДАЧА БУДЕТ ЗАКРЫТА ПОСЛЕ УСПЕШНОГО ЗАВЕРШЕНИЯ ВСЕХ БЛОКОВ!

[2020-06-12 16:06] Proffet78 commented on #6
Изменения в проекте

[2020-06-12 20:48] VinogradovAlexandr781227 commented on #9
Комит: 'SPRINT1 LK_commit-1' загружен.

Ожидаю проверки выполнения задачи.

[2020-06-12 20:59] VinogradovAlexandr781227 commented on #10
Комит: 'SPRINT1 LK_commit-2' загружен.

Ожидаю проверки выполнения задачи.

[2020-06-12 21:01] VinogradovAlexandr781227 commented on #12
Комит: 'SPRINT1 LK_commit-3' загружен.

Ожидаю проверки выполнения задачи.

[2020-06-12 21:05] Proffet78 commented on #9
@VinogradovAlexandr781227, Коммит одобрен - задача выполнена! Поздравляю!

[2020-06-12 21:06] Proffet78 commented on #10
@VinogradovAlexandr781227, Коммит одобрен - задача выполнена! Поздравляю!

[2020-06-12 21:06] VinogradovAlexandr781227 commented on #11
На рефлексии был вынесен вопрос о перенесении раздела "Часто задаваемые вопросоы (FAQ)" на главную страницу сайта, для удобства пользователя.

Одобрено Тимлидом: Машариным Валерием

[2020-06-12 21:07] Proffet78 commented on #12
@VinogradovAlexandr781227, Коммит одобрен с незначительными комментариями, которые будут указаны в основной задаче ЛК спринта1 - задача выполнена! Поздравляю!

[2020-06-12 21:10] VinogradovAlexandr781227 commented on #4
Все задачи по плану выполнены.

Ожидаю проверки задач и замечаний

[2020-06-12 21:11] VinogradovAlexandr781227 commented on #7
Все задачи по спринту выполнены.

Ожидаю проверки выполнения и замечаний по ходу работы.

[2020-06-12 21:11] Proffet78 commented on #11
@VinogradovAlexandr781227, задача выполнена! Поздравляю!

[2020-06-12 21:19] Proffet78 commented on #7
@VinogradovAlexandr781227,
В целом задачу одобряю, в дальнейшем в ходе 3 спринта будет необходимость:
1) Добавление стандартизированного дизайна страниц
2) Возможности редактировать информацию на странице
3) Связь с БД, в том числе с формами авторизации, реализуемыми во 2 спринте!

Молодец! Задача выполнена! Приступай к реализации 2 спринта! Удачи!

[2020-06-12 21:22] VinogradovAlexandr781227 commented on #13
Прошу выдать задание на второй спринт

[2020-06-12 21:23] Proffet78 opened #15 "Реализовать регистрацию пользователя на Django"
Реализовать регистрацию пользователя на Django
======
Story - #35
Epic - #34
ERD - #48

[2020-06-12 21:24] Proffet78 commented on #13
@VinogradovAlexandr781227, твоё первое задание на 2 спринт - issues - #15

[2020-06-12 21:26] VinogradovAlexandr781227 commented on #15
Приступил к выполнению согласно техническому заданию

[2020-06-12 21:28] VinogradovAlexandr781227 commented on #5
Повторно высылаю ТЗ:
https://docs.google.com/document/d/1IuSjDg58B7wMf0wuuzwPIq1m9LCKXoc0yMlvNeZdo8Q/edit?usp=sharing

[2020-06-12 21:29] Proffet78 commented on #5
ТЗ принято!

[2020-06-21 22:33] Proffet78 commented on #6
Коммит:  SPRINT1 OS_commit-2  загружен
Необходимо доработать роли и события

[2020-06-21 22:34] Proffet78 commented on #15
Форму входа(авторизации) сделал на ОС сайта, поэтому необходимо сделать только форму регистрации!

[2020-06-21 22:38] Proffet78 commented on #6
Модернизацию считаю успешно выполненной, при условии, что в ходе 3 спринта добавим роли и события и свяжем страницу с формами! Задача засчитана!

[2020-06-21 22:39] Proffet78 commented on #4
С учетом некоторых трудностей sprint 1 завершен, к сожалению из-за сильно загруженности, не вовремя - это минус

[2020-06-21 22:40] Proffet78 commented on #3
Спринт 1 завершен, но из-за сильной загруженности не вовремя! Огромный минус, учтем на будущее!

[2020-06-21 22:41] Proffet78 opened #16 "Реализовать регистрацию события на Django"
Реализовать регистрацию события на Django
======
Story - #40
Epic - #39
ERD - #46

[2020-06-21 22:43] Proffet78 commented on #13
@VinogradovAlexandr781227, @Proffet78  НЕОБХОДИМО ПОДНЯТЬ ФОРМЫ МАНУАЛЬНОГО ТЕСТИРОВАНИЯ!!!

[2020-06-22 07:07] Proffet78 opened #17 "Мануальное тестирование ЛК"
План спринта - #13

Задача: протестировать форму поднять задачи на баги/изменения/дополнения:
_Задача будет считаться выполненной при исправлении всех багов и недочетов, на каждое исправление необходимо поднимать задачу, название коммита исправления:
SPRINT2_LK_BUG-*, где * - номер бага_

Найденные БАГИ:
1. Изменить цветовую гамму проекта - #19
2. Возможность редактирования  информации - #21
3. Ин

[2020-06-22 07:07] Proffet78 commented on #17
Приступил к мануальному тестированию ЛК!

[2020-06-22 07:40] Proffet78 opened #18 "BUG_LK_Блок информации"
Основная задача bug - #17
План спринта - #13

Суть:
Нет все блоков информации в ЛК!

Необходимо:
Добавить блоки согласно выборке ТЗ:
https://docs.google.com/document/d/1EDMUCsDEZ6FAxaGMS4FP9Dlt6or4nkYxGkBaUDeUsX4/edit

[2020-06-22 07:44] Proffet78 opened #19 "BUG_LK_Изменить цветовую гамму проекта"
Основная задача bug - #17
План спринта - #13

Суть:
Неверно выбрана цветовая гамма проекта!

Необходимо:
Сделать цветовую гамму согласно тз, используя цвета (красный, синий, серый, белый). Номера цветовой палитры можно увидеть в ТЗ_Проекта #1

[2020-06-22 07:47] Proffet78 opened #20 "BUG_LK_Кнопка "ОС""
Основная задача bug - #17
План спринта - #13

Суть:
Нет ссылки на страницу ОС

Необходимо:
Вместо кнопки "Ссылка на меня" в шапке страницы, сделать кнопку-ссылку на страницу ОС!

[2020-06-22 07:50] Proffet78 opened #21 "BUG_LK_Возможность редактирования информации"
Основная задача bug - #17
План спринта - #13

Суть:
Нет возможности редактировать информацию!

Необходимо:
ДЛЯ НАЧАЛА УБЕДИСЬ ЧТО ВЫПОЛНЕНА ЗАДАЧА - #18
Согласно ТЗ необходимо добавить возможность редактирования каждого ОТДЕЛЬНО блока личной информации!

[2020-06-22 07:52] Proffet78 opened #22 "BUG_LK_Вид ссылок"
Основная задача bug - #17
План спринта - #13

Суть:
Некрасивый вид ссылок!

Необходимо:
Сделай вид ссылок красивый и измени название credits!

[2020-06-22 07:54] Proffet78 commented on #17
@VinogradovAlexandr781227 , на данный момент мануальное тестирование ЛК завершено! Все баги подняты, время на исправление 1,5 дня!

[2020-06-22 11:03] VinogradovAlexandr781227 opened #23 "Мануальное тестирование ОС"
План спринта - #13

Задача: протестировать форму поднять задачи на баги/изменения/дополнения:
Задача будет считаться выполненной при исправлении всех багов и недочетов, на каждое исправление необходимо поднимать задачу, название коммита исправления:
SPRINT2_OS_BUG-*, где * - номер бага

Найденные БАГИ:
1. ВолонтИрство - #24
2. Роли волонтеров - #25
3. Добавить таблицу событий, а также кнопку ссылк

[2020-06-22 11:07] VinogradovAlexandr781227 commented on #19
Задача выполнена.  'SPRINT2_LK_BUG-2' . Ожидание проверки.

[2020-06-22 11:16] Proffet78 commented on #19
Нет комита с таким названием!

[2020-06-22 11:18] VinogradovAlexandr781227 opened #24 "BUG_OS_ВолонтИрство"
Основная задача bug - #23
План спринта - #13

Суть:
Лексическая ошибка

Нужно:
На основной странице в шапке проекта исправить надпись Voluneers на 'Volunteers'

[2020-06-22 11:23] VinogradovAlexandr781227 opened #25 "BUG_OS_Роли волонтеров"
Основная задача bug - #23
План спринта - #13

Суть:
Отстутствующий функционал

НУЖНО:
Блок Роли волонтеров пустует. Добавить требующуюся информацию.

[2020-06-22 11:24] Proffet78 commented on #19
Неверная цветовая палитра!
**Цвета:**
Красный - 8B0000
Синий - 191970
Серый - 2f2f2f
Темный серый - 222222
Белый - ffffff

ИСПОЛЬЗУЕМ только эти цвета! + подбери красивое сочетание!

[2020-06-22 11:28] VinogradovAlexandr781227 opened #26 "BUG_OS_Таблица событий"
Основная задача ошибка - #23
План спринта - #13

Суть:
Отсутствие функционала

НУЖНО:
Добавить Таблицы событий

[2020-06-22 11:31] VinogradovAlexandr781227 opened #27 "BUG_OS_Ввод значения в блок Личный кабинет"
Основная задача bug - #23
План спринта - #13

Суть:
Не рабочий функционал

Нужно:
Поля ввода в блоке Личный кабинет не отображают введенные символы

[2020-06-22 11:49] VinogradovAlexandr781227 commented on #20
Задача выполнена. 'SPRINT2_LK_BUG-3'. Ожидание проверки.

[2020-06-22 12:37] Proffet78 commented on #20
Задача НЕ ЗАЩИТАНА:
1) исправь ошибку не на ЛАВНУЮ СТРАНИЦУ, а НА ГЛАВНУЮ
2) При нажатие кнопки страница не открывается

[2020-06-22 12:39] Proffet78 commented on #23
Приступил к исправлению.

[2020-06-22 12:46] Proffet78 commented on #24
Баг исправлен! Исправления в коммите SPRINT2_OS_BUG-1!
Ожидаю проверки!

[2020-06-22 12:55] VinogradovAlexandr781227 commented on #24
Баг исправлен. Работа засчитана!

[2020-06-22 12:56] #24 closed, assigned to VinogradovAlexandr781227

[2020-06-22 13:57] Proffet78 commented on #27
Баг исправлен! Изменения залиты в SPRINT2_OS_BUG-4.
Ожидаю проверки!

[2020-06-22 14:38] VinogradovAlexandr781227 commented on #27
Баг исправлен. Работа засчитана!

[2020-06-22 14:38] #27 closed, assigned to VinogradovAlexandr781227

[2020-06-22 16:17] Proffet78 commented on #25
Залил первые изменения бага (добавил каскадную таблицу). Изменения в SPRINT2_OS_BUG-2.1.
Продолжаю работать над багом.

[2020-06-22 17:13] Proffet78 commented on #26
Залил первые изменения бага. Изменения в SPRINT2_OS_BUG-3.1.
Продолжаю работать над багом.

[2020-06-22 17:22] Proffet78 commented on #26
Залил изменения бага. Изменения в SPRINT2_OS_BUG-3.2.
Продолжаю работать над багом.

[2020-06-22 17:40] Proffet78 commented on #26
Баг исправлен! Изменения залиты в SPRINT2_OS_BUG-3.3.
Ожидаю проверки!

[2020-06-22 17:41] Proffet78 commented on #26
Стоп) Рано!

[2020-06-22 17:58] Proffet78 commented on #26
Баг исправлен! Изменения залиты в SPRINT2_OS_BUG-3.4.
Ожидаю проверки!

[2020-06-22 18:00] VinogradovAlexandr781227 commented on #26
Баг исправлен. Работа засчитана!

[2020-06-22 18:00] #26 closed, assigned to VinogradovAlexandr781227

[2020-06-22 18:31] VinogradovAlexandr781227 commented on #20
Валера, добавь связи с общими групповыми стилями.

[2020-06-22 18:53] Proffet78 commented on #20
Готово! Коммит OTVET_ERROR!

[2020-06-22 19:28] VinogradovAlexandr781227 commented on #20
Задача выполнена. Исправление в 'SPRINT2_LK_BUG_4'. Ожидаю проверки.

[2020-06-22 19:40] VinogradovAlexandr781227 commented on #22
Задача сделана. Исправление в 'SPRINT2_LK_BUG_6'. Ожидаю проверки

[2020-06-23 06:36] Proffet78 commented on #22
Баг исправлен. Работа засчитана!

[2020-06-23 06:36] #22 closed, assigned to Proffet78

[2020-06-23 06:36] Proffet78 commented on #20
Баг исправлен. Работа засчитана!

[2020-06-23 06:36] #20 closed, assigned to Proffet78

[2020-06-25 13:41] YuriSilenok opened #28 "Демон6страция работы с гитом"
Изменить файл в первой строке

[2020-06-25 13:47] YuriSilenok opened #30 "Демонстрация работы с гитом"
Изменить ту же строчку что и в задаче #28

[2020-06-25 13:58] YuriSilenok opened #33 "Рефакторинг"
Удалить папку со старым проектом

[2020-06-25 14:10] #33 closed, assigned to YuriSilenok

[2020-06-25 14:26] YuriSilenok opened #34 "[Epic] Регистрация пользователя"
Задачи относящиеся к этому эпику должны иметь ссылка на эту задачу

[2020-06-25 14:44] YuriSilenok opened #35 "[Story] Регистрация пользователя"
Я как пользователь должен иметь возможность зарегистрироваться на главной странице.

Для этого я должен ввести email который соответствует определенному шаблону и ограничениям.
Шаблон: Вначале должно быть написано любое сочетание букв английского алфавита, цифр и знаков пунктуации (кроме @).
Ограничение на ввод 20 символов.
Далее должен быть поставлен значек @.
После этого прописан домен почты. Пр

[2020-06-25 14:46] YuriSilenok opened #36 "Спроектировать ERD для пользователя"
Спроектировать часть диаграммы ER в нотации **такой-то** на основе:
Story: #35

---
Epic #34

[2020-06-25 14:52] YuriSilenok opened #37 "[CR] Регистрация пользователя. Капча"
Мне как пользователю для завершения регистрации необходимо пройти этап верификации при помощи капчи
---
Epic #34
Stroy #35

[2020-06-28 15:10] Proffet78 commented on #16
Из-за перепланировки задачу переносим на 3 спринт

[2020-06-28 15:12] Proffet78 commented on #15
Из-за перепланировки задачу переносим на 3 спринт

[2020-06-28 15:16] Proffet78 commented on #25
До конца дня баг должен быть исправлен!

[2020-06-28 15:16] Proffet78 commented on #21
До конца дня баг должен быть исправлен!

[2020-06-28 15:16] Proffet78 commented on #19
До конца дня баг должен быть исправлен!

[2020-06-28 15:16] Proffet78 commented on #18
До конца дня баг должен быть исправлен!

[2020-06-28 15:25] Proffet78 opened #38 "План SPRINT 3"
План КР - #3
СРОК РЕАЛИЗАЦИИ: до 5 июля

**План спринта:**
1) Переехать на Django  - _@JennyShel18_ - #44
2) Форма Регистрация пользователя  - _@VinogradovAlexandr781227_   -  epic(#34)
3) Форма Регистрация события  - _@proffet78 , @ssas18_  - epic (#39)
4) Отчет по СПРИНТУ 3  - _@proffet78_
5) План на СПРИНТ 4 - _@proffet78_

[2020-06-28 17:58] Proffet78 commented on #17
Продлеваем мануальное тестирование на 3 спринт!

[2020-06-28 17:59] Proffet78 commented on #23
Продлеваем мануальное тестирование на 3 спринт!

[2020-06-29 06:13] YuriSilenok commented on #38
Предполагаю что в плане будут еще линки на задачи которые вы спланировали на спринт. через #
Возможно я не правильно выразился, но управленческую документацию вы ведем в гугл.
Как минимум эта задача должна иметь ссылку на тот план.
А вообще план в виде задачи создает дополнительную путаницу в задачах. Захламляет доски и статистика получается смазанной

[2020-06-30 17:44] Proffet78 opened #39 "[Epic] Регистрация события"
Задачи относящиеся к этому эпику должны иметь ссылка на эту задачу

[2020-06-30 17:48] Proffet78 opened #40 "[Story] Регистрация события"
Я как пользователь должен иметь возможность зарегистрировать своё событие на главной странице.
Для этого я должен нажать на кнопку «зарегистрировать событие», после чего должна открыться форма регистрации события в которой я должен ввести значения в следующие поля:
1) Название события;
2) Описание события;
3) Необходимое кол-во волонтеров;
4) Информация об организаторе;
5) ФИО контактного лица;
6)

[2020-06-30 18:03] Proffet78 opened #41 "Спроектировать ERD для события"
Спроектировать часть диаграммы ER на основе:
Story: #40
=========
Epic #39

[2020-06-30 18:07] Proffet78 opened #42 "[CR] Регистрация события. Капча"
Мне как пользователю для завершения регистрации событи необходимо пройти этап верификации при помощи капчи

=======
Epic #39
Stroy #40

[2020-06-30 18:20] Proffet78 commented on #1
Техническое задание по проекту перенесли на Гугл диск:

https://drive.google.com/drive/folders/1ZhZMTXkzXQsrGLyEi3NBKh1OWRQOnuYB

[2020-06-30 18:21] Proffet78 commented on #1
В связи с решением хранения всей документации ВНЕ репозитория _техническое задание_ по проекту перенесли на Гугл диск:

https://drive.google.com/drive/folders/1ZhZMTXkzXQsrGLyEi3NBKh1OWRQOnuYB

[2020-06-30 18:22] Proffet78 commented on #1
В связи с решением хранения всей документации ВНЕ репозитория _техническое задание_ по проекту перенесли на Гугл диск:

https://drive.google.com/drive/folders/1ZhZMTXkzXQsrGLyEi3NBKh1OWRQOnuYB

[2020-06-30 18:22] #1 closed, assigned to VinogradovAlexandr781227, Proffet78

[2020-06-30 18:23] Proffet78 commented on #2
В связи с решением хранения всей документации ВНЕ репозитория, поэтому подробное _техническое задание_ по проекту перенесли на Гугл диск:

https://drive.google.com/drive/folders/1ZhZMTXkzXQsrGLyEi3NBKh1OWRQOnuYB

[2020-06-30 18:23] #2 closed, assigned to VinogradovAlexandr781227, Proffet78

[2020-06-30 18:24] Proffet78 commented on #3
В связи с решением хранения всей документации ВНЕ репозитория, поэтому _подробны план_ по проекту перенесли на Гугл диск, в таблицу План:

https://drive.google.com/drive/folders/1ZhZMTXkzXQsrGLyEi3NBKh1OWRQOnuYB

[2020-07-01 05:51] VinogradovAlexandr781227 commented on #19
Задача выполнена. Исполнение в 'SPRINT3_LK_BUG_1'. Ожидаю проверки

[2020-07-01 05:52] VinogradovAlexandr781227 commented on #18
В связи с моей ошибкой эти изменения были залиты ранее с другим комитом. Ожидаю проверки.

[2020-07-01 17:14] Proffet78 commented on #25
Баг не актуален

[2020-07-01 17:14] #25 closed, assigned to Proffet78

[2020-07-01 17:15] Proffet78 commented on #18
Зачтено.

[2020-07-01 17:15] #18 closed, assigned to Proffet78

[2020-07-01 17:24] Proffet78 opened #44 "Перевести проект на django"
Перевести проект на джанго, ВОЗМОЖНО ТОЛЬКО ПОСЛЕ ЗАКРЫТИЯ ЗАДАЧИ #19

[2020-07-01 17:24] Proffet78 commented on #23
Мануальное тестирование проекта завершено успешно!

[2020-07-01 17:24] #23 closed, assigned to VinogradovAlexandr781227, Proffet78

[2020-07-01 17:38] Proffet78 commented on #40
Стори прописано до конца.

[2020-07-02 09:08] YuriSilenok commented on #38
вы можете ставить задачу на планирование, но сам план должен быть в гугл диске, на документ должна вестись ссылка.

[2020-07-02 16:15] Proffet78 commented on #38
В форме регистрации события и пользователя, распределим задачи на несколько спринтов, в текущем, создать story, ERD-diagram, сценарии автотестов, верстка FE, изучение работы автотестов.
На 4 спринт оставим разработку автотестов и кодинг.

[2020-07-02 16:18] Proffet78 opened #45 "Написать сценарии автотестов для Событий"
Разработать сценарии для автотестов.

Необходимо на [диске](https://drive.google.com/drive/folders/1ZhZMTXkzXQsrGLyEi3NBKh1OWRQOnuYB?usp=sharing) создать таблицу сценариев и заполнить ее.

Срок выполнения до 23:59 03.07.2020

======
Epic - #39
Story - #40

[2020-07-02 16:38] Proffet78 commented on #44
@JennyShel18 , Женя твоя задача на спринт перевести проект на DJANGO

[2020-07-02 18:00] VinogradovAlexandr781227 commented on #19
Задача выполнена. Изменения в задаче #43 в коммите 'SPRINT3_LK_BUG_1'. Ожидаю проверки выполнения.

[2020-07-02 18:02] VinogradovAlexandr781227 commented on #21
На данный момент нет смысла в реализации данной задачи в связи переносом проекта на Jango. Думаю стоит приостановить действия по данной задаче на неопределенный период (до полного переноска на jango). Ожидаю ответа.

[2020-07-02 18:19] JennyShel18 commented on #44
В данном спринте думаю, что не успею реализовать перевод всего проекта на DJANGO. Предлагаю из этой задачи выделить две подзадачи: это перевод страницы ОС на django и перевод страницы ЛК на DJANGO

[2020-07-02 18:29] Proffet78 commented on #21
Так как задача связана с БД напрямую, я согласен с твоим комментарием

[2020-07-02 18:29] #21 closed, assigned to Proffet78

[2020-07-02 18:38] Proffet78 commented on #44
Думаю, что это уместно, так легче отследить выполняемому, однако постарайся успеть перевести до конца спринта, дальше будем судить по факту, не забывай отмечать в журнале)
Поднимай две подзадачи, не забудь сослаться на эту , как на основную, в остально приступай к выполнению!)

[2020-07-02 18:52] JennyShel18 commented on #44
Спасибо, приступаю.

[2020-07-02 19:03] VinogradovAlexandr781227 commented on #19
Мерж выполнен.

[2020-07-02 19:04] Proffet78 commented on #19
Зачтено

[2020-07-02 19:04] #19 closed, assigned to Proffet78

[2020-07-02 19:04] VinogradovAlexandr781227 commented on #17
Мануальное тестирование выполнено. Задача завершена.

[2020-07-02 19:04] VinogradovAlexandr781227 commented on #17
Мануальное тестирование выполнено. Задача завершена.

[2020-07-02 19:04] #17 closed, assigned to VinogradovAlexandr781227, Proffet78

[2020-07-02 19:07] Proffet78 commented on #13
Sprint завершен с опозданием

[2020-07-02 19:07] #13 closed, assigned to VinogradovAlexandr781227, Proffet78

[2020-07-02 19:37] Proffet78 opened #46 "Разработать Erd для событий"
====
Epic #39
Story #40

[2020-07-02 19:40] Proffet78 opened #47 "Написать сценарии для автотестов регистрации пользователя"
Разработать сценарии для автотестов.

Необходимо на диске в таблице сценариев и заполнить ее.(https://drive.google.com/drive/folders/1ZhZMTXkzXQsrGLyEi3NBKh1OWRQOnuYB?usp=sharing)

Срок выполнения до 23:59 04.07.2020

======
Epic - #34
Story - #35

[2020-07-02 19:41] Proffet78 opened #48 "Разработать Erd для регистрации пользователя"
====
Epic #35
Story #34

[2020-07-03 08:45] YuriSilenok commented on #38
Если вы что-то перечисляете, делайте это списком:
- раз
- два
- три

[2020-07-03 11:42] JennyShel18 opened #49 "Перевести страницу ОС на DJANGO"
Является подзадачей основной задачи https://github.com/Proffet78/KR_TRPO_Modern/issues/44

[2020-07-03 11:44] JennyShel18 opened #50 "Перевести страницу ЛК на DJANGO"
Является подзадачей основной задачи https://github.com/Proffet78/KR_TRPO_Modern/issues/44

[2020-07-03 14:54] ssas18 commented on #45
Сделал таблицу сценариев для автотестов (https://docs.google.com/spreadsheets/d/1aVgza46Gs03fha8xXcO086s3ErTJY7gA69Ppoh8FYHs/edit?usp=sharing)
На истину в первой инстанции не претендую, слушаю ваши замечания.

[2020-07-03 19:37] Proffet78 commented on #46
Разработал ER Diagram для Events:

https://drive.google.com/file/d/1LjpH7twK-YInOIKGRfFHYFGNur_pxWTM/view?usp=sharing

[2020-07-04 09:27] JennyShel18 commented on #49
1. Все разделы главной страницы перенесены на движок успешно
2. Стили и скрипты подключены, не подключен скрипт validate.js, потому что его не было в папке OS и LK
3. Проблема в кнопке меню, по каким то причинам три полоски в контейнере кнопки сдвинулись немного вверх, решением является в стили добавить padding:12px
4.Эту страницу успею доделать до конца спринта 3, следующую страницу буду делать у

[2020-07-04 09:32] Proffet78 commented on #49
@JennyShel18 , Жень, создай pull requests с ссылкой на задачу, а не заливай в эту ветку. Проверяющим ставишь меня и ещё кого-нибудь, заливать все будешь в один pull requests

[2020-07-04 18:22] Proffet78 commented on #45
@ssas18 , Саш, посмотрел сценарии в целом **замечание одинаковое:**

*В некоторых строчках оставил комментарий, далее так как пошли однотипные вариации, дублировать не стал

Перепиши сценарии под сайт, а точнее по Django, посмотри может в интернете есть комментарии, как сделать автотесты и сценарии к ним на Django!

**Исправляй до 05.07.2020 18:00 - > далее в понедельник уточним у Юрия Викторовича

[2020-07-04 19:14] VinogradovAlexandr781227 commented on #48
Разработал ER Diagram для Registration:
https://drive.google.com/file/d/1Fqh4nkVc6sC46Fes0ecfbXIDK6qwmu9Y/view?usp=sharing

[2020-07-04 19:29] ssas18 commented on #45
Исправил некоторые недочеты

[2020-07-04 19:33] VinogradovAlexandr781227 commented on #47
Сделал таблицу сценариев для автотестов :(https://docs.google.com/spreadsheets/d/1aVgza46Gs03fha8xXcO086s3ErTJY7gA69Ppoh8FYHs/edit?usp=sharing)

[2020-07-05 16:34] Proffet78 commented on #48
@VinogradovAlexandr781227 , Саш, привет посмотрел диаграмму, есть несколько замечаний:

**Из основных замечаний:**

**ЕСТЬ ИДЕЯ использовать google-капчу**

[2020-07-05 17:10] Proffet78 commented on #45
@ssas18 , Саша, в целом сценарии принял, по некоторым моментам посмотрим на замечание Юрия Викторовича и в следующем спринте исправим недочеты, если они будут.

[2020-07-05 17:13] ssas18 opened #52 "Разработать структуру БД, для хранения и отображения информации о событии на ОС"
Разработать теоретическую структуру БД, для хранения и отображения информации о событии на ОС с помощью сервера, точнее описание содержания полей.

[2020-07-05 17:15] ssas18 commented on #46
@proffet78 , ERD одобрена, при условии если будут изменения от Юрия Викторовича, необходимо будет переоткрыть и исправить

[2020-07-05 17:16] ssas18 commented on #52
Разработал структуру БД
(https://docs.google.com/spreadsheets/d/10OKlK5QR5-h9wNK75JpkNeDgQoO0H5HsgILfM2eQk9Q/edit?usp=sharing)

[2020-07-05 17:18] Proffet78 commented on #52
@ssas18 , структура одобрена, до временных изменений

[2020-07-05 17:18] #52 closed, assigned to Proffet78, ssas18

[2020-07-05 17:45] JennyShel18 commented on #49
Смержено

[2020-07-05 17:49] #40 closed, assigned to Proffet78

[2020-07-05 17:49] ssas18 commented on #41
Клон #46

[2020-07-05 17:49] #41 closed, assigned to Proffet78

[2020-07-05 17:51] Proffet78 commented on #36
Закрываю, так как клон задачи #48

[2020-07-05 17:51] #36 closed, assigned to VinogradovAlexandr781227

[2020-07-05 17:52] #35 closed, assigned to VinogradovAlexandr781227, Proffet78

[2020-07-05 17:56] VinogradovAlexandr781227 commented on #48
Всё исправил. Изменения залил на google disc:
https://drive.google.com/file/d/1jR6Y-xyZlmOdZgz1XUvtcLFMGcHGNml-/view?usp=sharing

[2020-07-05 18:07] Proffet78 commented on #49
Зачтено

[2020-07-05 18:07] #49 closed, assigned to Proffet78, JennyShel18

[2020-07-05 18:13] Proffet78 commented on #48
Одобрено, до временных замечаний

[2020-07-05 18:16] ssas18 commented on #47
@VinogradovAlexandr781227 Саша, в целом сценарии принял, по некоторым моментам посмотрим на замечание Юрия Викторовича и в следующем спринте исправим недочеты, если они будут.

[2020-07-05 18:39] Proffet78 commented on #38
Итог спринта:

Выполнили:
1) Исправили Баги на старом проекте (НЕ на Django)
2) Разработали Story для событий и пользователя
3) Перевели на Джанго ОС ( #49 )
4) Спроектировали ERD для пользователя и событий, а также разработали структуру БД для событий( #48 #46 #52 )
5) Разработали сценарии для автотестов для регистрации пользователя и события ( #45 #47)

Оценка работы команды:
В целом спринт выпо

[2020-07-05 18:39] #38 closed, assigned to VinogradovAlexandr781227, Proffet78, ssas18, JennyShel18

[2020-07-06 08:49] YuriSilenok opened #53 "Проверка скрипта"
Проверка скрипта

[2020-07-06 08:50] #53 closed, assigned to YuriSilenok

[2020-07-06 08:51] YuriSilenok opened #54 "Нарушено правило именования вех"
['Sprint 2 (17-ИСбо-2б)', 'Sprint 3 (17-ИСбо-2б)', 'Sprint 4 (17-ИСбо-2б)']

Приведите имена вех в соответсвии с регулярным выражением
`(Backlog|Sprint \d{1,2} \(d{2}-(IS|VT)bo-[12][ab]\))`

[2020-07-06 09:12] YuriSilenok commented on #54
['Sprint 2 (17-ИСбо-2б)', 'Sprint 3 (17-ИСбо-2б)', 'Sprint 4 (17-ИСбо-2б)']

Приведите имена вех в соответсвии с регулярным выражением
`(Backlog|Sprint \d{1,2} \(d{2}-(IS|VT)bo-[12][ab]\))`

[2020-07-06 09:12] YuriSilenok commented on #39
Пожалуйста, добавьте описание к этой задаче

[2020-07-06 09:12] YuriSilenok commented on #30
Пожалуйста, измените заголовок на более детальный

[2020-07-06 09:12] YuriSilenok commented on #28
Пожалуйста, измените заголовок на более детальный

[2020-07-06 09:12] YuriSilenok commented on #16
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-06 09:12] YuriSilenok commented on #15
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-06 09:12] YuriSilenok commented on #14
Пожалуйста, добавьте описание к этой задаче

[2020-07-06 09:12] YuriSilenok commented on #12
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 09:12] YuriSilenok commented on #11
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 09:12] YuriSilenok commented on #10
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 09:12] YuriSilenok commented on #9
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 09:12] YuriSilenok commented on #7
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 09:12] YuriSilenok commented on #6
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 09:12] YuriSilenok commented on #5
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 09:12] YuriSilenok commented on #4
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 09:12] YuriSilenok commented on #3
Пожалуйста, измените заголовок на более детальный

[2020-07-06 09:14] #30 closed, assigned to YuriSilenok

[2020-07-06 09:14] #28 closed, assigned to YuriSilenok

[2020-07-06 12:13] #34 closed, assigned to YuriSilenok

[2020-07-06 13:01] YuriSilenok commented on #54
['Sprint 4 (17-ИСбо-2б)']

Приведите имена вех в соответсвии с регулярным выражением
`(Backlog|Sprint \d{1,2} \(d{2}-(IS|VT)bo-[12][ab]\))`

[2020-07-06 13:01] YuriSilenok commented on #39
Пожалуйста, добавьте описание к этой задаче

[2020-07-06 13:01] YuriSilenok commented on #16
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-06 13:01] YuriSilenok commented on #15
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-06 13:01] YuriSilenok commented on #14
Пожалуйста, добавьте описание к этой задаче

[2020-07-06 13:01] YuriSilenok commented on #12
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 13:01] YuriSilenok commented on #11
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 13:01] YuriSilenok commented on #10
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 13:01] YuriSilenok commented on #9
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 13:01] YuriSilenok commented on #7
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 13:01] YuriSilenok commented on #6
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 13:01] YuriSilenok commented on #5
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 13:01] YuriSilenok commented on #4
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 13:01] YuriSilenok commented on #3
Пожалуйста, измените заголовок на более детальный

[2020-07-06 14:21] YuriSilenok commented on #54
['Sprint 4 (17-ИСбо-2б)']

Приведите имена вех в соответсвии с регулярным выражением
`(Backlog|Sprint \d{1,2} \(d{2}-(IS|VT)bo-[12][ab]\))`

[2020-07-06 14:21] YuriSilenok commented on #39
Пожалуйста, добавьте описание к этой задаче

[2020-07-06 14:21] YuriSilenok commented on #16
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-06 14:21] YuriSilenok commented on #15
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-06 14:21] YuriSilenok commented on #14
Пожалуйста, добавьте описание к этой задаче

[2020-07-06 14:21] YuriSilenok commented on #12
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 14:21] YuriSilenok commented on #11
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 14:21] YuriSilenok commented on #10
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 14:21] YuriSilenok commented on #9
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 14:21] YuriSilenok commented on #7
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 14:21] YuriSilenok commented on #6
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 14:21] YuriSilenok commented on #5
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 14:21] YuriSilenok commented on #4
Пожалуйста, добавьте веху к этой задаче

[2020-07-06 14:21] YuriSilenok commented on #3
Пожалуйста, измените заголовок на более детальный

[2020-07-06 14:58] YuriSilenok commented on #54
['Sprint 4 (17-ИСбо-2б)']

Приведите имена вех в соответсвии с регулярным выражением
`(Backlog|Sprint \d{1,2} \(d{2}-(IS|VT)bo-[12][ab]\))`

[2020-07-06 15:06] YuriSilenok commented on #54
['Sprint 4 (17-ISbo-2b)']

Приведите имена вех в соответсвии с регулярным выражением
`(Backlog|Sprint \d{1,2} \(d{2}-(IS|VT)bo-[12][ab]\))`

[2020-07-06 15:10] Proffet78 commented on #54
@YuriSilenok , Имена вех исправлены на [' Sprint 4 (17-ISbo-2b) ']

[2020-07-06 15:11] #5 closed, assigned to Proffet78

[2020-07-06 15:14] #6 closed, assigned to Proffet78

[2020-07-06 15:14] #4 closed, assigned to Proffet78

[2020-07-06 15:15] #7 closed, assigned to VinogradovAlexandr781227

[2020-07-06 15:15] #9 closed, assigned to Proffet78

[2020-07-06 15:16] #10 closed, assigned to Proffet78

[2020-07-06 15:16] #11 closed, assigned to VinogradovAlexandr781227

[2020-07-06 15:16] #12 closed, assigned to Proffet78

[2020-07-06 15:17] #54 closed, assigned to YuriSilenok

[2020-07-06 15:19] YuriSilenok opened #55 "Нарушено правило именования вех"
['Sprint 4 (17-ISbo-2b)']

Приведите имена вех в соответсвии с регулярным выражением
`(Backlog|Sprint \d{1,2} \(d{2}-(IS|VT)bo-[12][ab]\))`

[2020-07-06 15:20] #55 closed, assigned to YuriSilenok

[2020-07-06 15:23] YuriSilenok commented on #39
Пожалуйста, добавьте описание к этой задаче

[2020-07-06 15:23] YuriSilenok commented on #16
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-06 15:23] YuriSilenok commented on #15
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-06 15:23] YuriSilenok commented on #14
Пожалуйста, добавьте описание к этой задаче

[2020-07-06 15:25] YuriSilenok commented on #39
Пожалуйста, добавьте описание к этой задаче

[2020-07-06 15:25] YuriSilenok commented on #16
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-06 15:26] YuriSilenok commented on #15
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-06 15:26] YuriSilenok commented on #14
Пожалуйста, добавьте описание к этой задаче

[2020-07-06 15:48] YuriSilenok commented on #39
Пожалуйста, добавьте описание к этой задаче

[2020-07-06 15:48] YuriSilenok commented on #16
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-06 15:48] YuriSilenok commented on #15
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-06 15:48] YuriSilenok commented on #14
Пожалуйста, добавьте описание к этой задаче

[2020-07-06 19:52] Proffet78 commented on #50
@JennyShel18 , срок выполнения до 08.07.2020.
`до 09.07.2020 задача должна быть закрыта`

[2020-07-06 19:58] Proffet78 opened #56 "[Story] Личный Кабинет"
Зайдя на личную страницу во первых я должен иметь возможность вернуться на Основную страницу.

Во вторых я должен увидеть некоторую информацию о пользователе, которую можно редактировать.

- Первый блок "Обо мне": я должен иметь возможность редактировать своё краткое описание используя любые символы, буквы и т.д.
-   Второй блок "Личная фотография": я должен иметь возможность добавить и редактиров

[2020-07-06 20:03] Proffet78 opened #57 "[Story] Авторизация пользователя"
Написать story для авторизации пользователя

[2020-07-06 20:05] Proffet78 commented on #46
Исправить ERD согласно замечаниям.

[2020-07-06 20:36] Proffet78 commented on #3
Задача неактуальна

[2020-07-06 20:36] #3 closed, assigned to VinogradovAlexandr781227, Proffet78

[2020-07-06 20:49] #39 closed, assigned to Proffet78

[2020-07-07 05:02] YuriSilenok commented on #56
Пожалуйста, измените заголовок на более детальный

[2020-07-07 08:21] ssas18 commented on #57
Я как пользователь должен иметь возможность авторизоваться на главной странице.

Для этого я должен ввести email который уже есть в БД.
Примеры правильных вариантов ввода: valeriymasharin11@gmail.com, alexandr.vinogradov22@mail.ru

Далее я должен ввести пароль.
Пароль который уже есть в БД и соответствует email  .

После ввода обязательных параметров (email и пароль) я должен иметь возможность наж

[2020-07-07 08:52] Proffet78 commented on #57
@ssas18 , в целом да, есть несколько замечаний, исправь их, а потом закрывай задачу и отметь в журнале о выполнении!

Замечания:
`1) Необходимо _создать_ epic (посмотри другие эпики и создай такой же #39 - для проверки epic после создания **заасань** его на меня; `
`2) В описании задачи необходимо _сослаться_ на epic Авторизация пользователя;`
`3) _Нет_ кнопки авторизоваться, есть кнопка "Вход";`

[2020-07-07 11:23] ssas18 opened #58 "[Epic] Авторизация пользователя"
Задачи относящиеся к этому эпику должны иметь ссылка на эту задачу:

[2020-07-07 11:26] Proffet78 commented on #58
@ssas18 , Саш epic должен находиться в backlog и убери релиз, также в описании необходимо написать:
`"Задачи относящиеся к этому эпику должны иметь ссылка на эту задачу"`

**После выполнения изменений закрывай задачу!**

[2020-07-07 11:29] #58 closed, assigned to ssas18

[2020-07-07 11:46] #57 closed, assigned to ssas18

[2020-07-07 18:15] Proffet78 commented on #56
@VinogradovAlexandr781227 , в целом да, есть несколько замечаний, исправь их, а потом закрывай задачу и отметь в журнале о выполнении!

Замечания:
`1) Необходимо _создать_ epic (посмотри другие эпики и создай такой же #39 - для проверки epic после создания **заасань** его на меня; `
`2) В описании задачи необходимо _сослаться_ на epic Личного Кабинета;`
`3) Блок 9 исправь ошибку в слове Skype;`
`4

[2020-07-07 18:19] Proffet78 opened #59 "Разработать FE для регистрации события"
Реализовать форму регистрации событий на ОС сайта, по story #40.

[2020-07-07 18:21] Proffet78 commented on #47
Исправить сценарии автотесты для регистрации пользователя согласно замечаниям

[2020-07-07 18:22] VinogradovAlexandr781227 opened #60 "[Epic] Личный кабинет"
Задачи относящиеся к этому эпику должны иметь ссылку на эту задачу

[2020-07-07 18:23] Proffet78 opened #61 "Разработать Erd для Личного Кабинета"
=====
Epic - #60
Story - #56

[2020-07-07 18:24] VinogradovAlexandr781227 commented on #56
Замечания исправил

[2020-07-07 18:24] Proffet78 commented on #60
Принято, закрывай

[2020-07-07 18:24] #60 closed, assigned to VinogradovAlexandr781227, Proffet78

[2020-07-07 18:26] Proffet78 commented on #56
Story принято

[2020-07-07 18:26] #56 closed, assigned to Proffet78

[2020-07-07 19:16] Proffet78 commented on #46
Исправил ERD для событий:
https://drive.google.com/drive/folders/1ZhZMTXkzXQsrGLyEi3NBKh1OWRQOnuYB?usp=sharing

[2020-07-07 19:53] ssas18 commented on #46
ERD событий принята

[2020-07-07 19:53] #46 closed, assigned to Proffet78, ssas18

[2020-07-08 16:26] JennyShel18 commented on #50
Поняла

[2020-07-08 16:55] Proffet78 commented on #59
Задача выполнена!

[2020-07-08 16:55] #59 closed, assigned to ssas18

[2020-07-08 17:32] Proffet78 commented on #61
Создал ERD для ЛК:
https://drive.google.com/drive/folders/1ZhZMTXkzXQsrGLyEi3NBKh1OWRQOnuYB?usp=sharing

[2020-07-08 17:33] Proffet78 commented on #61
Жду одобрения

[2020-07-08 17:39] ssas18 commented on #61
Все вроде бы хорошо, но есть 1 недочет
![image](https://user-images.githubusercontent.com/47377817/86952054-12cf9480-c15b-11ea-9135-affdbcbc0263.png)

[2020-07-08 17:46] Proffet78 commented on #61
Исправил

[2020-07-08 17:58] ssas18 commented on #61
Одобрено

[2020-07-08 18:03] #61 closed, assigned to VinogradovAlexandr781227, Proffet78, ssas18

[2020-07-08 18:34] Proffet78 commented on #48
Исправить ERD согласно замечаниям

[2020-07-08 18:52] VinogradovAlexandr781227 commented on #47
Автотесты исправлены. Жду проверки

[2020-07-09 06:56] ssas18 commented on #47
Нет сценариев автотестов с не нулевым начальным условием

[2020-07-09 07:43] ssas18 commented on #48
Разработал новую ERD регистрации
https://drive.google.com/drive/folders/1z34KxfFi4ZmRceOzr_ME3ilU5hCta_nT?usp=sharing

[2020-07-09 07:48] Proffet78 commented on #50
Задачу зачесть не могу, так как залито только в ветку задачи, необходим пул реквест слияния с веткой dev!

[2020-07-09 13:52] Proffet78 commented on #47
Не согласен с замечанием на момент открытия формы, поля должны быть пустыми

[2020-07-09 13:55] Proffet78 commented on #48
Итак, я проверил, мои замечания:
1) Я бы убрал схему ЛК, так как ERD для ЛК уже написана
2) Связал бы Блог регистрации и блок Личной информации из erd по ЛК

В остальном согласен)

[2020-07-09 14:00] Proffet78 opened #63 "Мануальное тестирование ЛК (Django)"
Провести мануальное тестирование ЛК (Django), как сущность FE.

[2020-07-09 14:02] Proffet78 commented on #63
Нем могу провести мануальное тестирование ЛК, пока на будет закрыта задача #50 , которая направлена на перевод Личного Кабинета Волонтера на Django.

[2020-07-09 15:58] ssas18 commented on #48
Исправлено

[2020-07-09 17:26] VinogradovAlexandr781227 commented on #16
Начал реализацию задачи

[2020-07-10 06:58] Proffet78 commented on #50
Оставил комментарии к pull requests

[2020-07-10 07:01] Proffet78 opened #66 "Мануальное тестирование ОС (Django)"
Провести мануальное тестирование ОС(Django), как сущность FE.

[2020-07-10 07:01] Proffet78 commented on #48
Засчитано!

[2020-07-10 07:01] #48 closed, assigned to Proffet78, ssas18, JennyShel18

[2020-07-10 07:09] Proffet78 opened #67 "Создать общую ERD для проекта и прописать структуру"
Свести все ERD в единую, настроить связи и прописать структуру, возможно подправить erd.

Свести согласно следующим story:
#35 #40 #56 #57

[2020-07-10 15:39] ssas18 commented on #66
Протестировал ОС, в плане FE все работает, каких либо отклонений от шаблона и недочетов в дизайне не вижу.

[2020-07-10 18:14] Proffet78 commented on #67
Свел все диаграммы в единую ERD, файл выложен на диске:
https://drive.google.com/drive/folders/1ZhZMTXkzXQsrGLyEi3NBKh1OWRQOnuYB?usp=sharing

[2020-07-10 18:14] Proffet78 commented on #66
Принята, задача засчитана, молодец!

[2020-07-10 18:14] #66 closed, assigned to Proffet78, ssas18

[2020-07-10 18:24] Proffet78 commented on #63
Так как ЛК до сих пор не залит не могу приступить к тестированию. Жду, Евгению.

[2020-07-10 18:32] VinogradovAlexandr781227 commented on #47
Для данных сценариев нецелесообразно делать проверку на не нулевые значения. Изначально, когда пользователь загружает форму значения нулевые, далее все процессы происходят по ввзову регистрации

[2020-07-10 19:32] VinogradovAlexandr781227 commented on #16
Залил пул реквест. Ожидаю проверки задания

[2020-07-11 05:02] YuriSilenok opened #68 "Нарушено правило именования веток"
['task---16'] Приведите имена веток в соответсвие

[2020-07-11 06:16] YuriSilenok commented on #16
![image](https://user-images.githubusercontent.com/14871471/87217931-25aeb880-c357-11ea-94b7-fefa6e21917b.png)
Где линк на запрос?

[2020-07-11 06:16] YuriSilenok commented on #68
['task---16'] Приведите имена веток в соответсвие

[2020-07-11 07:38] Proffet78 commented on #16
Также нету пулреквеста - где он?

[2020-07-11 07:49] Proffet78 commented on #68
Саша Виноградов твоя ветка неправильная - изменяй!

[2020-07-11 10:32] YuriSilenok commented on #16
пулл реквест я называю запросом
![image](https://user-images.githubusercontent.com/14871471/87222241-eeea9980-c37a-11ea-976f-aa1a87e11dd7.png)

[2020-07-11 10:33] YuriSilenok commented on #68
еще лучше указывать вот так человека @VinogradovAlexandr781227
но я не уверен что у вас появилась привычка следить за почтой

[2020-07-11 10:43] YuriSilenok commented on #68
['task---16'] Приведите имена веток в соответсвие

[2020-07-11 10:43] YuriSilenok commented on #67
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-11 10:43] YuriSilenok commented on #63
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-11 10:43] YuriSilenok commented on #50
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-11 10:43] YuriSilenok commented on #47
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-11 10:43] YuriSilenok commented on #16
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-11 10:43] YuriSilenok commented on #15
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-11 13:07] ssas18 commented on #45
Исправить сценарии автотестов Событий

[2020-07-11 15:27] ssas18 commented on #45
[исправлено](https://docs.google.com/spreadsheets/d/1aVgza46Gs03fha8xXcO086s3ErTJY7gA69Ppoh8FYHs/edit?usp=sharing)

[2020-07-11 20:01] JennyShel18 commented on #15
Смержено

[2020-07-11 20:09] JennyShel18 opened #69 "Мануальное тестирование FE форм и страниц (не связанных с БД)"
_Исправить сбои, если они есть
#49_

[2020-07-11 20:15] JennyShel18 opened #70 "Разработать сервер для проекта"
#67

[2020-07-12 05:02] YuriSilenok commented on #68
['task---16'] Приведите имена веток в соответсвие

[2020-07-12 05:02] YuriSilenok commented on #45
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-12 05:02] YuriSilenok commented on #70
Пожалуйста, добавьте описание к этой задаче

[2020-07-12 07:52] Proffet78 commented on #67
Общая ERD на диске, @ssas18  проверь все ли так, если да, закрывай задачу)

[2020-07-12 07:53] Proffet78 commented on #69
@VinogradovAlexandr781227 , @JennyShel18
Так у меня есть несколько вопросов:
На что нацелена задача конкретно?
С каким функционалом работает?
И где можно увидеть баги?

*Отмечу, что на ЛК и ОС задачи для поиска багов направленных на FE разработку подняты.

[2020-07-12 08:05] ssas18 commented on #67
По моему мнению данная ERD корректна

[2020-07-12 08:09] Proffet78 commented on #70
@JennyShel18 , в описании необходимо сослать на задачу с общей ERD, сделайте это как можно скорее!

[2020-07-12 08:10] Proffet78 commented on #63
ЛК залито, приступаю к тестированию

[2020-07-12 08:11] Proffet78 commented on #15
Задача одобрена

[2020-07-12 08:11] #15 closed, assigned to Proffet78, JennyShel18

[2020-07-12 08:18] Proffet78 commented on #47
Задача выполнена

[2020-07-12 08:23] Proffet78 commented on #45
Сценарии одобрены

[2020-07-12 08:23] #45 closed, assigned to Proffet78, ssas18

[2020-07-12 08:25] Proffet78 commented on #50
ЛК замержен

[2020-07-12 08:25] #50 closed, assigned to JennyShel18

[2020-07-12 08:25] Proffet78 commented on #44
Проект переведен на django

[2020-07-12 08:25] #44 closed, assigned to JennyShel18

[2020-07-12 10:43] YuriSilenok commented on #67
Кажется мы договаривались что ерд будет экспортирована в репозиторий?

[2020-07-12 10:46] YuriSilenok commented on #70
Заголовок странный, я не ронимаю какой объем работы должен быть выполнен.

[2020-07-12 10:51] YuriSilenok commented on #47
Задача вроде на разработку сценариев тестирования, причём тут автотесты?

[2020-07-12 12:01] VinogradovAlexandr781227 commented on #68
Изменил название ветки task---16 на task-16. Извиняюсь за ошибку

[2020-07-13 05:02] YuriSilenok commented on #70
Пожалуйста, добавьте описание к этой задаче

[2020-07-13 06:43] Proffet78 commented on #69
@VinogradovAlexandr781227 , @JennyShel18, эта задача сейчас неактуальна -> но будет необходима в 5 спринте, на тестирование мануальное форм -> поэтому изменю все и на ответственного перевешу

[2020-07-13 08:27] VinogradovAlexandr781227 commented on #16
замержил

[2020-07-13 08:28] Proffet78 commented on #16
Задача зачтена!

[2020-07-13 08:28] #16 closed, assigned to VinogradovAlexandr781227

[2020-07-13 08:31] Proffet78 commented on #67
Вечером залью в репозиторий!

[2020-07-13 08:40] Proffet78 commented on #47
@YuriSilenok  , да я ошибся при формулировке

На данный момент задача выполнена

[2020-07-13 08:40] #47 closed, assigned to VinogradovAlexandr781227, Proffet78, ssas18

[2020-07-13 08:56] Proffet78 commented on #69
ВНИМАНИЕ! Пояснения к задаче!

В связи с некорректной задачей поднятой ранее, немного переформулирую задачу:

ЦЕЛЬ - мануальное тестирование FE форм и страниц (не связанных с БД)

ХОД:
1) @Proffet78 и @ssas18  проводят соответствующее плану тестирование, в результате ОДНИМ сообщением пишут сюда все баги связанные FE;
2) Далее @VinogradovAlexandr781227  и @JennyShel18  при необходимости исправляют

[2020-07-13 09:00] Proffet78 commented on #70
@VinogradovAlexandr781227 @JennyShel18 Объясняю, что вы должны сделать в этой задаче:

ДО КОНЦА 13.07.2020 до 23:59:59

В этой задаче должен появиться отчет, о том, что вы:
1) изучили как связать Django с сервером (НЕ ЛОКАЛЬНЫМ)
2) настроили сервер (подключили все службы)
3) Создали БД с необходимыми таблицами

[2020-07-13 20:13] JennyShel18 commented on #70
Отчет по выполнению задачи
https://drive.google.com/file/d/1eApH1u5IPosPK8GlSENbJK0yokwWyYYD/view?usp=sharing

[2020-07-13 20:22] Proffet78 commented on #70
@JennyShel18 по какому первому дню? Сегодня срок задания выходит

[2020-07-13 20:27] JennyShel18 commented on #70
Ошиблась, сейчас исправлю описание

[2020-07-14 05:02] YuriSilenok commented on #67
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-14 06:09] Proffet78 opened #73 "Связать форму регистрации события с БД"
Настроить в форме регистрации события связь с БД

[2020-07-14 06:10] Proffet78 opened #74 "Создать и связать форму регистрации пользователя с БД"
Настроить связь формы **регистрации** пользователя с БД (только РЕГИСТРАЦИИ).

[2020-07-14 06:12] Proffet78 commented on #70
Таблицы созданы?

[2020-07-14 06:13] #68 closed, assigned to YuriSilenok, VinogradovAlexandr781227

[2020-07-14 06:20] Proffet78 commented on #63
Я конечно, могу ошибаться, но @JennyShel18 , ты подключала стили?

![image](https://user-images.githubusercontent.com/47320491/87391338-3491a700-c5b3-11ea-8fa9-395865f18639.png)

[2020-07-14 15:35] ssas18 commented on #69
Замечаний нет, все на своем месте

![Аннотация 2020-07-14 093131](https://user-images.githubusercontent.com/47377817/87445440-bb20a580-c600-11ea-89b3-87296b50ae3e.png)

[2020-07-14 17:17] Proffet78 commented on #69
К сожалению, дома отключили интернет, завтра смогу только провести тестирование

[2020-07-15 05:02] YuriSilenok commented on #67
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-15 07:04] VinogradovAlexandr781227 commented on #70
Да. Таблицы созданы успешно

[2020-07-15 07:19] Proffet78 commented on #14
@ssas18 , можешь приступать к заданию

[2020-07-15 12:56] ssas18 commented on #14
Если вопросов по данной uml не будет, то заливаю в репозиторий
![Untitled Document](https://user-images.githubusercontent.com/47377817/87547323-9c2f1b80-c6b3-11ea-9046-05207fb16957.jpg)

[2020-07-15 18:49] Proffet78 commented on #69
Багов при мануальном тестировании не обнаружено

[2020-07-15 18:50] YuriSilenok commented on #67
Так что у нас с этой задачей?

[2020-07-15 18:50] Proffet78 commented on #63
Мне ответят?

[2020-07-15 18:51] Proffet78 commented on #67
Занимаюсь этой задачей, сейчас залью, вчера интернета не было к сожалению

[2020-07-15 18:55] Proffet78 commented on #67
@YuriSilenok , есть уточнения по формату? или можно в любом?

[2020-07-15 19:00] Proffet78 commented on #14
@ssas18 , на данный момент замечаний нет - создавай запрос на слияние

[2020-07-15 19:11] YuriSilenok commented on #63
Где-то видел задачу, кажется еще не закрытую, когда она будет выполнена, тестирование не должно производится локально.

[2020-07-15 19:19] Proffet78 commented on #70
@VinogradovAlexandr781227 @JennyShel18 , в отчете нет инфы про таблицы

[2020-07-15 19:20] Proffet78 commented on #73
@VinogradovAlexandr781227 Запрос на слияние должен быть поднят до 23:59:59!

[2020-07-15 19:20] VinogradovAlexandr781227 commented on #70
@Proffet78 В данный момент мы готовим новый отчёт с описанием и скриншотами процесса и таблиц

[2020-07-15 19:20] Proffet78 commented on #74
@JennyShel18 Запрос на слияние должен быть поднят до 23:59:59!

[2020-07-15 19:22] Proffet78 commented on #63
На данный момент это тестирование подразумевает качественный перевод FE , так как в дальнейшем ЛК будет настроен, после этого будут написаны тесты и проведено тестирование автотестами!

[2020-07-15 19:24] Proffet78 commented on #70
Хорошо, для проверки не забудьте заасанить меня

[2020-07-15 19:29] VinogradovAlexandr781227 commented on #73
@Proffet78 Просим продление сроков задач #74 и [#73](https://github.com/Proffet78/KR_TRPO_Modern/issues/73) до завтрашнего вечера в связи с ошибками, возникшими в MySql и Python, которые мы чисто физически сегодня не успеем исправить. В данный момент работаем над этим, но не знаем успеем ли сегодня

[2020-07-15 19:32] YuriSilenok commented on #67
Я называл вам формат на одной из наших встреч.
![image](https://user-images.githubusercontent.com/14871471/87587644-0adb9b80-c6eb-11ea-98cc-1aa222ed5168.png)

[2020-07-15 19:47] VinogradovAlexandr781227 commented on #70
https://docs.google.com/document/d/1umxurll2oHSV7tP54XTjwp9I79zr3t6Xyi4tdhLUIpY/edit
Новый отчёт о работе. Сюда будут добавляться все изменения до конца выполнения текущей задачи

[2020-07-15 19:49] YuriSilenok commented on #14
- Для проверки, в том числе диаграмм которые будут храниться в репозитории предназначены запросы на слияние. Именно там можно увидеть кто проверил, а кто еще нет и многое другое.
  - 1 Почему **организатор** два раза соединен с **Зарегистрироваться**?
  - 2 Это два соединения с **Посмотреть главную страницу** или линия которая не имеет отношение к этому объекту?
  - 3 Думаю это все же два отдельны

[2020-07-15 19:54] YuriSilenok commented on #63
То есть, сейчас это интуитивное тестирование. Но я не об этом, меня смутило что тест проводился локально и напомнил, что когда будет настроен сервер, тестирование должно проводится на сервере.

[2020-07-15 19:56] JennyShel18 commented on #63
@Proffet78  Я тебе уже отвечала, что эти файлы находятся в папке static. Для того, чтобы файлы подключались корректно, тебе нужно скачать питон, django, переопределить командой python manage.py collectstatic и запустить сервер. Только при этих условиях всё будет отображаться корректно

[2020-07-15 19:58] YuriSilenok commented on #70
![image](https://user-images.githubusercontent.com/14871471/87589627-2f854280-c6ee-11ea-9ada-f1fb30207972.png)
-  все ваши гугл документы должны создаваться в [рабочей папке](https://drive.google.com/drive/folders/1ZhZMTXkzXQsrGLyEi3NBKh1OWRQOnuYB?usp=sharing), тогда никому не нужно будет предоставлять доступ. И все остальные документы там так же должны складироваться. Проекты диаграмм в том числе

[2020-07-15 20:00] YuriSilenok commented on #63
Кстати, это есть в обучающем видео, которое скидывалось в чат.

[2020-07-15 20:01] JennyShel18 commented on #63
Именно

[2020-07-16 06:27] Proffet78 commented on #70
@VinogradovAlexandr781227 , аналогичный комментарий

[2020-07-16 06:31] Proffet78 commented on #73
@VinogradovAlexandr781227 , хорошо, даю вам отсрочку, НО:
1) До конца 16.07 задача должны быть выполнена
2) Задача, которая висит на вас сегодня ТОЖЕ ДОЛЖНЫ БЫТЬ ВЫПОЛНЕНА
3) ОС - страница на которой находятся должна быть уже подключена к серверу, т.е. Я, как пользователь, не должен буду скачать питон и что-то там подключать!

[2020-07-16 06:32] Proffet78 commented on #74
@JennyShel18 , я так понимаю, вам тоже нужна отсрочка?

Условия такие же, хорошо, даю вам отсрочку, НО:
1) До конца 16.07 задача должны быть выполнена
2) Задача, которая висит на вас сегодня ТОЖЕ ДОЛЖНЫ БЫТЬ ВЫПОЛНЕНА
3) ОС - страница на которой находятся должна быть уже подключена к серверу, т.е. Я, как пользователь, не должен буду скачать питон и что-то там подключать!

[2020-07-16 06:43] Proffet78 commented on #69
Задача выполнена!

[2020-07-16 06:43] #69 closed, assigned to VinogradovAlexandr781227, Proffet78, ssas18, JennyShel18

[2020-07-16 06:46] Proffet78 opened #76 "Связать форму авторизации пользователя с БД"
Настроить в форме авторизации пользователя связь с БД

[2020-07-16 06:49] Proffet78 opened #77 "Написать сценарии автотестов для авторизации пользователя"
Разработать сценарии для автотестов.

Необходимо на [диске](https://drive.google.com/drive/folders/1ZhZMTXkzXQsrGLyEi3NBKh1OWRQOnuYB?usp=sharing) создать таблицу сценариев и заполнить ее.

Срок выполнения до 23:59 16.07.2020

======
Epic - #57
Story - #58

[2020-07-16 07:05] Proffet78 commented on #67
Задача выполнена

[2020-07-16 07:05] #67 closed, assigned to Proffet78, ssas18

[2020-07-16 07:10] Proffet78 commented on #63
@JennyShel18 , на данный момент замечаний по FE ЛК нету, ОБРАЩАЮ ВНИМАНИЕ, что после реализации связи ЛК с сервером - ЛК должен корректно отображаться БЕЗ каких-либо подключений!

[2020-07-16 07:10] #63 closed, assigned to Proffet78, JennyShel18

[2020-07-16 10:27] Proffet78 commented on #14
Задача выполнена

[2020-07-16 10:27] #14 closed, assigned to ssas18

[2020-07-16 19:28] VinogradovAlexandr781227 commented on #70
Замечание учёл. Загрузил в [гугл диск](https://drive.google.com/drive/folders/1ZhZMTXkzXQsrGLyEi3NBKh1OWRQOnuYB)

[2020-07-17 06:49] YuriSilenok commented on #70
Не URL, ССЫЛКУ

[2020-07-17 06:54] VinogradovAlexandr781227 commented on #70
Апдейтил комент

[2020-07-21 05:02] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-21 05:02] YuriSilenok commented on #76
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-21 05:02] YuriSilenok commented on #74
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-21 05:02] YuriSilenok commented on #73
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-21 05:02] YuriSilenok commented on #70
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-27 05:02] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-27 05:02] YuriSilenok commented on #76
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-27 05:02] YuriSilenok commented on #74
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-27 05:02] YuriSilenok commented on #73
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-27 05:02] YuriSilenok commented on #70
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-28 05:02] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-28 05:02] YuriSilenok commented on #76
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-28 05:02] YuriSilenok commented on #74
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-28 05:02] YuriSilenok commented on #70
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-28 05:02] YuriSilenok commented on #73
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-29 05:02] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-29 05:02] YuriSilenok commented on #74
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-29 05:02] YuriSilenok commented on #76
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-29 05:02] YuriSilenok commented on #73
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-29 05:02] YuriSilenok commented on #70
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-30 05:02] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-30 05:02] YuriSilenok commented on #74
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-30 05:02] YuriSilenok commented on #76
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-30 05:02] YuriSilenok commented on #73
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-30 05:02] YuriSilenok commented on #70
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-31 05:02] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-31 05:02] YuriSilenok commented on #76
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-31 05:02] YuriSilenok commented on #74
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-31 05:02] YuriSilenok commented on #73
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-07-31 05:02] YuriSilenok commented on #70
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-01 05:02] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-01 05:02] YuriSilenok commented on #76
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-01 05:02] YuriSilenok commented on #74
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-01 05:02] YuriSilenok commented on #73
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-01 05:02] YuriSilenok commented on #70
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-02 05:02] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-02 05:02] YuriSilenok commented on #76
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-02 05:02] YuriSilenok commented on #74
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-02 05:02] YuriSilenok commented on #73
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-02 05:02] YuriSilenok commented on #70
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-02 08:32] JennyShel18 opened #79 "Некорректно работает верстка в мобильной версии при изменении масштаба страницы сайта"
1.Открыть главную страницу сайта с мобильного устройства http://jennyshel18.pythonanywhere.com/siteDJ/
1.1 Открыть личный кабинет с мобильного устройства http://jennyshel18.pythonanywhere.com/siteDJ/yourCab/
2.Изменить масштаб
Ожидаемый результат:Корректное изменение размера элементов верстки
Фактический результат: Некорректное изменение размеров элементов верстки
![sRFb09WHg18](https://user-image

[2020-08-09 18:01] YuriSilenok commented on #42
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-09 18:01] YuriSilenok commented on #37
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-11 05:02] YuriSilenok commented on #79
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-11 05:02] YuriSilenok commented on #77
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-11 05:02] YuriSilenok commented on #76
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-11 05:02] YuriSilenok commented on #74
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-11 05:02] YuriSilenok commented on #73
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-16 05:02] YuriSilenok commented on #70
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-17 05:02] YuriSilenok commented on #79
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-17 06:46] Proffet78 commented on #79
@VinogradovAlexandr781227 , задача выдана - необходимо сделать до 18.08.2020 до 23:59:59

[2020-08-17 06:47] Proffet78 commented on #77
Задача принята в работу

[2020-08-17 06:50] Proffet78 commented on #74
Создать форму регистрации пользователя и связать с сервером и главной страницей.
Срок выполнения до 19.08.2020 до 23:59:59

[2020-08-17 06:55] Proffet78 opened #81 "Тестирование проекта на сервере"
Мануально протестировать страницы на сервере, расписать недочеты/баги/замечания (под номерами с названием, описанием, скриншотами), расставить приоритеты (при необходимости создай Labels). Учитывай при тестировании возможность просматривать сайт с разных видов устройств (компьютер, телефон)

[2020-08-17 09:21] ssas18 commented on #81
Каких либо критических багов мною не было выявлено, но есть несколько замечаний:
плохая верстка для моб. устроиств(но этот баг уже поднят #79)
![image](https://user-images.githubusercontent.com/47377817/90379641-a44bf380-e083-11ea-9a65-b6a395ed745e.png)
![image](https://user-images.githubusercontent.com/47377817/90379669-b0d04c00-e083-11ea-9db7-495915b5478a.png)
A так же не работают кнопки переход

[2020-08-18 05:02] YuriSilenok commented on #42
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-18 05:02] YuriSilenok commented on #37
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-21 05:02] YuriSilenok commented on #79
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-21 05:02] YuriSilenok commented on #77
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-21 05:02] YuriSilenok commented on #74
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-21 05:02] YuriSilenok commented on #70
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-22 05:02] YuriSilenok commented on #81
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-22 19:17] Proffet78 commented on #81
@ssas18 , подними по каждому недочету задачу, опиши ее, расставь приоритеты и поставь ответственного (либо Сашу Виноградова, либо Женю)
Здесь сделай список поднятых недочетов с ссылками
После этого данный этап тестирования будет завершен - задача будет считаться выполненной

[2020-08-22 19:19] Proffet78 commented on #81
А также проверь работоспособность всех ссылок, считаю это тоже багом)

[2020-08-22 19:21] Proffet78 commented on #73
@VinogradovAlexandr781227 @JennyShel18 , необходимо связать форму с БД

[2020-08-22 19:21] Proffet78 commented on #76
@VinogradovAlexandr781227 @JennyShel18 , необходимо связать форму с БД

[2020-08-22 19:22] Proffet78 commented on #74
@VinogradovAlexandr781227 @JennyShel18 , необходимо связать форму с БД

[2020-08-22 19:23] Proffet78 commented on #70
@JennyShel18 , Жень смержи ветку!)

[2020-08-22 19:24] Proffet78 commented on #81
При необходимости отредактируй баг #79

[2020-08-23 11:16] ssas18 opened #82 "Некорректно работают ссылки в проекте"
Главная страница - http://jennyshel18.pythonanywhere.com/siteDJ/
1 Нажатие на кнопку "подать заявку"
![image](https://user-images.githubusercontent.com/47377817/90976860-664e4400-e549-11ea-9304-e4a007d5b967.png)
Ожидаемый результат - Уведомление о принятой заявке
Фактический результат - Происходит проброс на самый верх данной страницы
2 Нажатие на кнопку "Вход"
![image](https://user-images.githubu

[2020-08-23 11:17] ssas18 commented on #81
Разделил баги на 2 группы и описал их в #79 и #82

[2020-08-24 05:02] YuriSilenok commented on #82
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-24 05:02] YuriSilenok commented on #81
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-24 05:02] YuriSilenok commented on #79
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-24 05:02] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-24 05:02] YuriSilenok commented on #76
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-24 05:02] YuriSilenok commented on #74
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-24 05:02] YuriSilenok commented on #70
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-24 05:02] YuriSilenok commented on #73
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-24 17:25] #70 closed, assigned to JennyShel18

[2020-08-25 05:02] YuriSilenok commented on #82
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-25 05:02] YuriSilenok commented on #81
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-25 05:02] YuriSilenok commented on #79
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-25 05:02] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-25 05:02] YuriSilenok commented on #76
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-25 05:02] YuriSilenok commented on #74
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-25 05:02] YuriSilenok commented on #73
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-26 05:02] YuriSilenok commented on #82
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-26 05:02] YuriSilenok commented on #81
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-26 05:02] YuriSilenok commented on #79
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-26 05:02] YuriSilenok commented on #76
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-26 05:02] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-26 05:02] YuriSilenok commented on #74
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-26 05:02] YuriSilenok commented on #73
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-27 04:26] Proffet78 commented on #82
@VinogradovAlexandr781227 @JennyShel18   Как успехи, когда зальете изменения?

[2020-08-27 04:27] Proffet78 commented on #81
Зачтено, 79 и 82 закрываем после выполнения!

[2020-08-27 04:27] #81 closed, assigned to Proffet78, ssas18

[2020-08-27 04:27] Proffet78 commented on #76
@VinogradovAlexandr781227 @JennyShel18   Как успехи, когда зальете изменения?

[2020-08-27 04:28] Proffet78 commented on #74
@VinogradovAlexandr781227 @JennyShel18   Как успехи, когда зальете изменения?

[2020-08-27 04:28] Proffet78 commented on #73
@VinogradovAlexandr781227 @JennyShel18   Как успехи, когда зальете изменения?

[2020-08-30 05:02] YuriSilenok commented on #82
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-30 05:02] YuriSilenok commented on #79
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-30 05:02] YuriSilenok commented on #76
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-30 05:02] YuriSilenok commented on #74
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-30 05:02] YuriSilenok commented on #73
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-31 05:02] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-31 05:02] YuriSilenok commented on #82
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-31 05:02] YuriSilenok commented on #76
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-31 05:02] YuriSilenok commented on #74
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-31 05:02] YuriSilenok commented on #73
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-08-31 07:45] Proffet78 commented on #82
@VinogradovAlexandr781227 Саша, исправь баги!!
Поднимаешь отдельно на каждый выше описанный баг задачу - и исправляешь баг! Не забудь ссылку на эту задачу! Здесь после поднятия отписываешься - что начал работу тогда-то, закончу тогда-то!!!!

[2020-08-31 07:45] Proffet78 commented on #77
@ssas18  Саша Коваленко - твоя задача на спринт

[2020-08-31 07:46] Proffet78 commented on #79
@VinogradovAlexandr781227 @JennyShel18  Саша, Женя ИСПРАВЬТЕ БАГ!!!!

[2020-08-31 13:24] ssas18 commented on #77
Выполнено!

[2020-09-01 18:53] YuriSilenok commented on #76
Что с этой задачей, когда планируется её завершение?

[2020-09-01 18:53] YuriSilenok commented on #76
Что с этой задачей, когда планируется её завершение?

[2020-09-03 10:33] YuriSilenok commented on #82
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #82 составляет 3 дней. Активность по ветке отсутствует. Активность по запросу отсутствует.

[2020-09-03 10:43] YuriSilenok commented on #79
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #79 составляет 3 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-03 15:17] YuriSilenok commented on #77
@ssas18
А с себя не сняли по какой причине? Вы что-то собираетесь делать по задаче?

[2020-09-04 06:40] YuriSilenok commented on #74
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #74 составляет 4 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-04 14:22] YuriSilenok opened #84 "Автозачет по дисциплине ТРПО"
Это эксперементальная задача.
Если ваша активность превысит активность преподавателя за интервал в одну неделю, то вы вам нужно сообщить о необходимости выставить автомат. Статистика публикуется ежедневно.

[2020-09-04 14:23] YuriSilenok commented on #84
Статистика на 2020-09-04 17:22:11.500873
|User|Events|
| --- | --- |
| Юрий Силенок - @YuriSilenok | 111 |
| Буров Илья - @map82top | 0 |
| Денис Кольцов - @Takunava | 0 |
| Denis Plotnicov - @isengrims | 0 |
| Жезлова Дарья - @ZhezlovaDaria | 0 |
| None - @DemiKor | 0 |
| Ilya Rogachev - @Rogachev99 | 0 |
| Алексеев Сергей - @SergeAlekseev | 0 |
| Сергей Дремченко - @SamuraSwordS | 0 |
| None - @

[2020-09-04 14:23] YuriSilenok commented on #84
Статистика на 2020-09-04 17:22:11.500873
|User|Events|
| --- | --- |
| Валерий Машарин - @Proffet78 | 5 |
| Юрий Силенок - @YuriSilenok | 112 |
| Александр Виноградов - @VinogradovAlexandr781227 | 0 |

[2020-09-04 14:40] YuriSilenok commented on #84
Статистика на 2020-09-04 17:40:12.294898
|User|Events|Score
| --- | --- | --- |
|Валерий Машарин - @Proffet78|5|2.5|
|Юрий Силенок - @YuriSilenok|113| |
|Александр Виноградов - @VinogradovAlexandr781227|0|0.0|

[2020-09-05 05:06] YuriSilenok commented on #84
Статистика на 2020-09-05 05:02:11.422540
|User|Events|
| --- | --- |
| Валерий Машарин - @Proffet78 | 5 |
| Юрий Силенок - @YuriSilenok | 122 |
| Александр Виноградов - @VinogradovAlexandr781227 | 0 |

[2020-09-06 05:03] YuriSilenok commented on #84
Статистика на 2020-09-06 05:02:06.714873
|User|Events|
| --- | --- |
| Валерий Машарин - @Proffet78 | 5 |
| Юрий Силенок - @YuriSilenok | 117 |
| Александр Виноградов - @VinogradovAlexandr781227 | 0 |

[2020-09-06 14:11] #74 closed, assigned to YuriSilenok

[2020-09-07 05:02] YuriSilenok commented on #82
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-07 05:02] YuriSilenok commented on #79
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-07 05:02] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-07 05:07] YuriSilenok commented on #84
Статистика на 2020-09-07 05:02:10.745062
|User|Events|
| --- | --- |
| Валерий Машарин - @Proffet78 | 5 |
| Юрий Силенок - @YuriSilenok | 120 |
| Александр Виноградов - @VinogradovAlexandr781227 | 0 |

[2020-09-07 06:17] #84 closed, assigned to YuriSilenok

[2020-09-07 06:38] YuriSilenok commented on #82
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-07 06:38] YuriSilenok commented on #79
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-07 06:38] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-07 13:28] YuriSilenok commented on #79
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-07 13:28] YuriSilenok commented on #82
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-07 13:28] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-07 13:32] YuriSilenok commented on #82
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-07 13:32] YuriSilenok commented on #79
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-07 13:32] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-07 13:53] YuriSilenok opened #85 "Нарушено правило именования вех"
['Sprint 10(17-ISbo-2b)'] Приведите имена вех в соответсвии с регулярным выражением `(Backlog|Sprint \d{1,2} \(\d{2}-(IS|VT)bo-[12][ab]\))`

[2020-09-07 13:53] YuriSilenok commented on #82
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-07 13:53] YuriSilenok commented on #79
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-07 13:53] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-07 13:57] ssas18 commented on #85
Исправлено

[2020-09-07 14:17] #85 closed, assigned to YuriSilenok

[2020-09-07 14:28] YuriSilenok commented on #77
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-09-07 17:25] ssas18 commented on #77
запросил проверку у Валеры, а с себя не снимал т.к это способ получать уведомления

[2020-09-09 18:33] YuriSilenok commented on #77
Вы не правы, вот я не назначен ответственным, но уведомления получаю. Стандартный режим уведомлений таком. Вы получаете уведомления о событиях в задаче или запросе если были хоть раз, упомянуты, заасанены, получали запрос на проверку. В правом нижнем углу задачи или запроса можно увидеть кто подписан на уведомления. Там же есть кнопка подписаться на уведомление если хотите следить за задачей

[2020-09-12 05:02] YuriSilenok commented on #76
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #76 составляет 4 дней. Активность в ветке task-76 составляет 4 дней. Активность по запросу #86 составляет 3 дней. Нет запросов, которые должен проверить преподаватель

[2020-09-13 05:02] YuriSilenok commented on #79
Устаревшая ветка task-79 будет удалена в ближайшее время

[2020-09-13 05:02] YuriSilenok commented on #77
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #77 составляет 3 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-14 05:02] YuriSilenok commented on #82
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-14 05:02] YuriSilenok commented on #79
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-14 05:02] YuriSilenok commented on #76
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-14 05:02] YuriSilenok commented on #73
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-15 05:02] YuriSilenok commented on #82
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-15 05:02] YuriSilenok commented on #79
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-15 05:02] YuriSilenok commented on #76
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-15 05:02] YuriSilenok commented on #73
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-15 21:04] JennyShel18 opened #88 "Стилизовать страницу Регистрации"
Данная страница будет доступна по адресу /signup/ после мержа #76
![рег](https://user-images.githubusercontent.com/47378275/93264465-d601c880-f7af-11ea-86c9-084ca4ef4124.png)

[2020-09-15 21:08] JennyShel18 opened #89 "Стилизовать страницу Авторизации"
Данная страница будет доступна по адресу /accounts/login после мержа #76
![авт](https://user-images.githubusercontent.com/47378275/93264986-9d162380-f7b0-11ea-9d36-0c8d3b49af07.png)

[2020-09-16 05:03] YuriSilenok commented on #82
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-16 05:03] YuriSilenok commented on #79
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-16 05:03] YuriSilenok commented on #76
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-16 05:03] YuriSilenok commented on #73
Пожалуйста, обратите внимание что эта задача находится в вехе для которой пройден дедлайн, а задача при этом открыта

[2020-09-19 21:28] JennyShel18 commented on #89
@Proffet78 когда назначат ответственного за эту задачу?

[2020-09-19 21:29] JennyShel18 commented on #88
@Proffet78 когда назначат ответственного за эту задачу?

[2020-11-01 10:55] #42 closed, assigned to YuriSilenok

[2020-11-01 10:55] #37 closed, assigned to YuriSilenok

[2020-11-01 11:00] #77 closed, assigned to YuriSilenok

[2020-11-01 11:00] #82 closed, assigned to YuriSilenok

[2020-11-01 11:00] #79 closed, assigned to YuriSilenok, VinogradovAlexandr781227

[2020-11-01 11:01] #76 closed, assigned to YuriSilenok

[2020-11-01 11:01] #73 closed, assigned to YuriSilenok